<header>
    <nav>
        <div>
            <button routerLink="/dog" class="dog-icon" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon svgIcon="dog"></mat-icon>
            </button>
            <button routerLink="/cat" class="cat-icon" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon svgIcon="cat"></mat-icon>
            </button>
        </div>
        <span routerLink="/" class="shop-name">{{ title }}</span>
        <div>
            <button routerLink="/user" class="user-icon" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>perm_identity</mat-icon>
            </button>
            <button routerLink="/basket" class="basket-icon" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>shopping_basket</mat-icon>
            </button>
        </div>
    </nav>
</header>
