@use "@material/image-list/mdc-image-list";
@use "@material/image-list";


.my-image-list {
  @include image-list.standard-columns(3);
  width: 500rem;
}

// .product-list {
//     @include image-list.standard-columns(3);
  
//     overflow: auto;
//   }

.my-list__item{
  position: relative;
}

mat-grid-tile {
    background: lightblue;
    height: auto;
  }

