<div class="row">
  <section class="col-3 mt-2">
  </section>
  <section class="col-9">
    <div class="row row-cols-3 g-3 mb-4">
      <!-- loop each product -->
      @for (product of products; track product.id){
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="image position-relative" style="cursor: pointer;">
              <img src="images/1.jpg" class="img-fluid">
            </div>
            <div class="card-body d-flex flex-column">
                <a href="" class="text-decoration-none">
                    <h6 class="text-uppercase">
                        {{product.name}}
                    </h6>
                </a>
            </div>
          </div>
        </div>
      }
    </div>
    <div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    [pageSize]="pageSize"
                    [length]="12"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements"
                    [pageIndex]="currentPage"
                    (page)="handlePageEvent($event)">
      </mat-paginator>
    </div>
  </section>
</div>




